<app-add-todo-form (addTodo)="addTodo($event)"></app-add-todo-form>

<app-alert *ngIf="errorMsg" [errorMsg]="errorMsg" (clearMsg)="clearErrorMSg()"></app-alert>

<div class="mt-5">
  <h4>Zadania</h4>
  <ng-container *ngFor="let todo of todos; index as i">
  <ul class="list-group-item" *ngIf="todos.length > 0" >
    <app-todo (changeStatus)="changeTodoStatus($event)" [todo]="todo" [i]="i" (delete)="deleteTodo(i)"></app-todo>
  </ul>
  </ng-container>

  <h5 *ngIf="todos.length === 0">
    Brak zadań
  </h5>

  <!--  <ng-template #noTasks>Brak zadań</ng-template>-->
</div>
